.aux{
    @media(min-width:768px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}
.content{
    background-color: var(--primary);
    height: 100vh;
    padding: 1rem;

    @media(min-width:768px) {
        margin: 0 auto;
        width:500px;
        height: 600px;
        border-radius: 15px;
    }

}